<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes API</title>
</head>
<body>
  <h1>Cupcakes!</h1>

  <section id="cupcakes-section">
    <ol id="cupcakes-list">

    </ol>
  </section>

  <form id="cupcakes-form">

  </form>


  <!-- Library JS & our JS -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios@1.0.0/dist/axios.js"></script>

  <script src="static/main.js"></script>
</body>
</html>
